.nxd-people-module .nxd-player-grid-card{
    padding-bottom: 150%;
    height: 0;
}

.nxd-people-module .uk-card-body {
    padding: 20px 10px 30px;
    background: #fff;
    position: relative;
    z-index: 2;
}

.nxd-people-module .uk-card-body h3 {
    font-family: "Bebas Neue Regular", serif;
    font-weight: 700;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    color: #000;
}

.nxd-people-module .player-number {
    font-family: "Anton Regular", serif;
    display: block;
    font-size:4rem;
}

.nxd-people-module .player-firstname {
    display: block;
    font-size: 1.2rem;
    margin-bottom: 0;
    font-weight: 200;
}

.nxd-people-module .player-lastname {
    display: block;
    font-size: 2rem;
    line-height: 2rem;
}

/* Modal */

.nxd-people-module-modal .nxd-z-index-100 {
    z-index: 100;
}

.nxd-people-module-modal .player-history-title {
    user-select: none;
}

.nxd-people-module-modal .player-name .player-firstname {
    font-family: "Bebas Neue Regular", serif;
    font-size: 4rem;
}

.nxd-people-module-modal .player-name .player-lastname {
    font-family: "Bebas Neue Regular", serif;
    font-size: 4rem;
}

.nxd-people-module-modal .player-number-effect {

}