.nxd-people-module .nxd-player-grid-card{

}

.nxd-people-module .nxd-people-image-container{

}

.nxd-people-module .nxd-padding-xsmall{
    padding: 5px;
}

.nxd-people-module .nxd-person-badge{
    background: #000;
    color: #fff;
    padding: 5px 10px;
    border-radius: 4px;
    font-size: 12px;
}

.nxd-team-overlay-container{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 60px;
    background: rgba(0, 0, 0, .5);
    backdrop-filter: blur(2px);
    color: #fff;
    z-index: 20;

    .nxd-overlay-inner {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 400px;
        text-align: center;
        transform: translateX(-50%) translateY(-50%) rotate(-90deg);
        .nxd-team-overlay-name {
            font-family: "Anton Regular", serif;
            font-weight: bold;
            font-size: 40px;
            text-transform: uppercase;
            line-height: 50px;
            text-wrap: nowrap;
        }
    }
    .nxd-team-overlay-logo{
        position: absolute;
        bottom: 20px;
        left: 4px;
        right: 4px;
        height: auto;
        background: transparent;
    }
}

.nxd-people-module-modal {

    user-select: none;

    button.uk-close {
        background: transparent;
        color: #fff;
        opacity: .6;

        &:hover {
            opacity: 1;
        }
    }

    .nxd-person-name-container {
        position: relative;

        .nxd-person-name {
            position: relative;
            z-index: 2;
        }

        .team-logo-container {
            position: absolute;
            top: -20px;
            right: 10px;
            background: transparent;
            z-index: 1;
            opacity: .2;
            overflow: hidden;

            > img {
                height: 200px;
                width: auto;
                display: block;
                position: relative;
                filter: drop-shadow(2px 2px 0px rgba(0, 0, 0, .4));
            }
        }
    }

    .nxd-person-data-table,
    .nxd-person-history-table{
        margin-top: 20px;

        .nxd-person-data-row,
        .nxd-person-history-row{
            padding: 10px;
            margin-top: 0;
            margin-bottom: 0;

            .nxd-person-data-label{
                font-family: "Anton Regular", serif;
                font-weight: bolder;
                color: #474747;
            }
        }
        .nxd-person-data-row:nth-of-type(even),
        .nxd-person-history-row:nth-of-type(even){
            background: #f6f6f6;
        }
        .nxd-person-data-row:nth-of-type(odd),
        .nxd-person-history-row:nth-of-type(odd){
            background: #ffffff;
        }
    }
}

.nxd-people-module .uk-card-body {
    padding: 20px 10px 30px;
    background: #fff;
    position: relative;
}

.nxd-people-module .uk-card-body h3 {
    font-family: "Bebas Neue Regular", serif;
    font-weight: 700;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    color: #000;
}

.nxd-people-module .player-number {
    font-family: "Anton Regular", serif;
    display: block;
    font-size:2rem;
}

.nxd-people-module .nxd-person-firstname {
    display: block;
    font-size: 1.2rem;
    margin-bottom: 0;
    font-weight: 100;
}

.nxd-people-module .nxd-person-lastname {
    display: block;
    font-size: 2rem;
    line-height: 2rem;
}

.nxd-people-module-modal .person-position{
    font-family: "Bebas Neue Regular", serif;
    font-size: 1.5rem;
    line-height: 1.5rem;
}

/* Modal */

.nxd-people-module-modal .nxd-z-index-100 {
    z-index: 100;
}

.nxd-people-module-modal img.nxd-modal-person-image-large {
    width: 100%;
    height: auto;
    display: block;
    position: relative;
    bottom: 0;
    top: auto;
}

.nxd-people-module-modal .nxd-person-modal-title {
    user-select: none;
}

.nxd-people-module-modal .uk-modal-dialog {
    border-radius: 12px;
    overflow: hidden;
}

.nxd-people-module-modal .nxd-person-name {
    margin-top: 1rem;
}
.nxd-people-module-modal .nxd-person-name .nxd-person-firstname,
.nxd-people-module-modal .nxd-person-name .nxd-person-lastname {
    font-family: "Bebas Neue Regular", serif;
    font-size: 4rem;
    line-height: 3.5rem;
}

.nxd-people-module-modal .nxd-person-modal-title {
    font-family: "Bebas Neue Regular", serif;
    font-size: 2rem;
    text-transform: uppercase;
    margin-bottom: 0;
    margin-top:0;
    color: #5e5e5e;
}

.nxd-people-module-modal .nxd-sponsor-logo {
    display: block;
    text-align: center;
    width: 50px;
    max-height: 50px;
}

.nxd-people-module-modal .nxd-player-information-container .nxd-switcher-content {
    height: 500px;
    position: relative;
    overflow-y: scroll;
    /* Hide Scrollbars */
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    &::-webkit-scrollbar {
        display: none;
    }
}
.nxd-people-module-modal .nxd-person-subnav {
    margin-top:20px;

    li {
         a{
             text-decoration: none;
             border-radius: 8px;

             &:hover {
                 color: #eaeaea;
                 background: #313131;
             }
         }
    }
    li.uk-active {
        a{
            color: #eaeaea;
            background: #101010;
        }
    }
}

